<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/images/avatar.png" alt="" class="profile-card-avatar" />
    <div class="profile-card-name">
      <strong class="h6">Ryan Gosling</strong>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>
  <div class="profile-card-description">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>

  <div class="profile-card-tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>

  <div class="profile-card-action-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>
